body {
  margin: 0;
  padding: 0;
}

.content-wrapper {
  background: #ffffff;
  padding-bottom: 20px;
  padding-top: 60px;
}

.content-wrapper .container {
  padding: 0;
  min-height: 2000px;
}

.navbar {
  background: #ffffff;
}

.navbar .container {
  background: #ffffff;
}

.navbar img {
  width: 180px;
  margin-top: -12px;
  border-radius: 5px;
}

.nav {
  float: none;
  width: 600px;
  margin: 0 auto;
}

.nav li {
  width: 200px;
  text-align: center;
}

.nav li a {
  color: #26a4c0;
}

a.list-group-item:hover {
  text-decoration: none;
  color: #555555;
  background-color: rgba(151, 236, 255, 0.07);
}

.navbar-toggle .icon-bar {
  background: #00dcff;
}

.content-wrapper h1 {
  color: #555555;
  font-size: 32px;
  text-align: center;
  margin-bottom: 5px;
  padding: 10px;
}

#sendInput {
  background: #32c1e0;
}

#inputYear {
  background: white;
  padding-left: 10px;
  display: block;
  margin: 0 auto;
  width: 200px;
}

#inputYear:focus {
  box-shadow: inset 0 -2px 0 #32c1e0
}

.search {
  width: 290px;
  margin: 0 auto;
}

.messageBoard {
  display: block;
  margin: 5px auto;
  width: 240px;
}

.form-control::-webkit-input-placeholder {
  color: #d3d3d3;
  font-size: 14px;
}

.movies {
  display: block;
  width: 550px;
  margin: 20px auto;
}

.movies .movie {
  display: block;
  padding: 20px;
  margin-bottom: 20px;
}

.movie .title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 15px;
}

.movies .title a {
  text-decoration: none;
  color: #008b8b;
}

.movies .rating {
  color: #26a4c0;
  margin-bottom: 4px;
}

.movies .content-right {
  display: inline-block;
  min-height: 110px;
  margin-left: 20px;
  width: 75%;
}

.movies .content-right .genre {
  margin-top: 10px;
  color: #26a4c0;
}

.movies img {
  float: left;
  width: 80px;
}

.errorMess {
  display: none;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: "Exo", sans-serif;
  font-weight: bold;
  background: #e51c23;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  color: #ffffff;
}

footer {
  background: #555555;
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
}

footer p {
  color: #ffffff;
  font-family: inherit;
  text-align: center;
  padding-top: 16px;
}

.noQueryMess {
  display: none;
  font-family: "Exo", sans-serif;
  font-weight: bold;
  background: #9c27b0;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
}

.loader {
  margin: 0 auto;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #26a4c0; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1100px){
  .nav {
    width:370px;
  }  
  .nav li {
    width:120px;
  }
}

@media only screen and (max-width: 767px) {
  .movies {
    width: 100%;
  }
  .content-wrapper h1 {
    font-size: 28px;
  }
}

@media only screen and (max-width: 550px) {
  .movies img {
    float: none;
    display: block;
    margin: 0 auto;
  }

  .movies .content-right {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
    text-align: center;
  }

  .content-wrapper h1 {
    font-size: 24px;
  }
}
