@import "custom_components";

$titles-color: #555;
$primary-background-color: #fff;
$movie-data-color: #32c1e0;
$font-size-title: 32px;
$error-msg-padding: 10px;

body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

.container {
  position: relative;
}

.glyphicon {
  left: 2px;
  color: #efbe4b;
}

.modal .modal-content {
  font-family: "Exo", sans-serif;
  p {
    margin-bottom: 15px;
  }
}

.content-wrapper {
  background: $primary-background-color;
  padding-bottom: 20px;
  padding-top: 60px;

  h1 {
    color: $titles-color;
    font-size: $font-size-title;
    text-align: center;
    margin-bottom: 5px;
    padding: $error-msg-padding;
  }

  .container {
    padding: 0;
  }
}

.navbar {
  background: $primary-background-color;

  .container {
    background: $primary-background-color;
  }

  img {
    width: 180px;
    margin-top: -12px;
    border-radius: 5px;
  }
}

.nav {
  float: none;
  width: 600px;
  margin: 0 auto;
  text-align: center;

  li {
    display: block;
    float: none;
    margin: 0 auto;

    a {
      color: #26a4c0;
    }
  }
}

a.list-group-item:hover {
  text-decoration: none;
  color: $titles-color;
  background-color: rgba(151, 236, 255, 0.07);
}

.navbar-toggle .icon-bar {
  background: #00dcff;
}

#btnList {
  background: $movie-data-color;
}

#yearField {
  background: white;
  padding-left: 10px;
  display: block;
  margin: 0 auto;
  width: 200px;

  &:focus {
    box-shadow: inset 0 -2px 0 $movie-data-color;
  }
}

.search {
  width: 290px;
  margin: 10px auto;
}

.messageBoard {
  display: block;
  margin: 5px auto;
  max-width: 300px;
  padding: 0 5px;
}

.form-control::-webkit-input-placeholder {
  color: #d3d3d3;
  font-size: 14px;
}

.sortBy {
  display: block;

  ul {
    display: block;
    width: 560px;
    padding: 10px;
    margin: 0 auto;

    li {
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;
      border-left: 1px solid #ddd;

      button {
        color: #0c84e4;
        border: none;
        background: none;
        font-family: "Exo", sans-serif;
        outline: none;

        &:hover {
          color: #0a68b4;
          cursor: hand;
        }
      }

      &:first-child {
        border-left: none;
      }

      &:nth-child(2) {
        border-left: none;
      }
    }
  }
}

.movies {
  display: block;
  width: 550px;
  margin: 10px auto;

  .movie {
    display: block;
    padding: 20px;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 40px !important;
    }

    .title {
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 15px;

      a {
        text-decoration: none;
        color: #008b8b;
      }
    }

    .content-right {
      display: inline-block;
      min-height: 110px;
      margin-left: 20px;
      width: 75%;
    }

    .movie-details {
      padding-left: 0;

      li {
        display: inline-block;
        padding-right: 5px;
        color: $movie-data-color;
      }
    }

    .votes { color: $movie-data-color; }

    img {
      float: left;
      width: 80px;
    }
  }
}

.flash-message {
  display: none;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: "Exo", sans-serif;
  font-weight: bold;
  background: #e51c23;
  border-radius: 5px;
  padding: 10px;
  color: $primary-background-color;
}

.movie-count {
  text-align: center;
  font-family: "Exo", sans-serif;
  margin-bottom: 20px;
}

.arrowToTop {
  display: none;
  position: fixed;
  bottom: 60px;
  right: 30px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #32c1e0;
  opacity: 0.4;

  &:hover {
    opacity: 1;
  }
}

.modal-custom {
  display: none;
  position: fixed;
  width: 540px;
  height: 710px;
  top: 5%;
  left: 50%;
  margin-left: -272px;
  z-index: 1033;
  overflow-x: visible;

  .close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -15px;
    right: 0;
  }

  .movieImg {
    width: 540px;
    height: 710px;
    padding: 0 15px 0 15px;
  }
}

.screen-fade {
  display: none;
  position: fixed;
  top: 0;
  background: #000;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  z-index: 1032;
}

footer {
  background: $titles-color;
  height: 40px;
  width: 100%;
  position: fixed;
  bottom: 0;

  p {
    color: $primary-background-color;
    text-align: center;
    padding-top: 10px;
  }
}

@media only screen and (max-width: 1100px) {
  .nav {
    width: 370px;
  }

  .nav li {
    width: 115px;
  }
}

@media only screen and (max-width: 767px) {
  .sortBy ul {
    width: 530px;
    font-size: 12px;
  }

  .movies {
    width: 100%;
  }

  .nav {
    width: 100%;
  }

  .content-wrapper h1 {
    font-size: 28px;
  }
}

@media only screen and (max-width: 550px) {
  .movies .movie img {
    float: none;
    display: block;
    margin: 0 auto;
  }

  .modal-custom {
    margin-left: -175px;
    width: 360px;
    top: 10%;
    height: auto;

    .movieImg {
      width: 350px;
      height: 500px;
    }

    .close {
      top: -18px;
      right: 12px;
    }
  }

  .sortBy ul {
    width: 100%;
    text-align: center;
  }

  .movies .movie .content-right {
    display: block;
    width: 100% !important;
    margin-top: 10px;
    margin-left: 0 !important;
    text-align: center;

    h1 {
      font-size: 24px;
    }
  }
}

@media only screen and (max-width: 360px) {
  .modal-custom {
    margin-left: -150px;
    width: 310px;
    top: 7%;
    height: auto;

    .movieImg {
      width: 300px;
      height: 400px;
    }

    .close {
      top: -18px;
      right: 12px;
    }
  }
}
